<h3>User name: {{model.user.name}}</h3>
<h4>User name: {{model.user.email}}</h4>
<h4>Balance: {{model.user.balance}}</h4>

<button type="button" class="btn btn-primary btn-lg btn-block" {{action "give"}}>Give</button>
<button type="button" class="btn btn-default btn-lg btn-block" {{action "get"}}>Get</button>